aiohttp==3.7.3
async-timeout==3.0.1
attrs==20.3.0
autopep8==1.5.5
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==3.0.4
colorama==0.4.4
colorthief==0.2.1
discord.py==1.6.0
idna==2.10
Kadal==0.2.4
loguru==0.5.3
multidict==5.1.0
PicImageSearch @ git+https://github.com/lleans/PicImageSearch@ce2502b30b8672ed7102a4d33fd238baaf7f0815
Pillow==8.1.0
pycodestyle==2.6.0
requests==2.23.0
requests-toolbelt==0.9.1
soupsieve==2.2
toml==0.10.2
typing-extensions==3.7.4.3
urllib3==1.25.11
win32-setctime==1.0.3
yarl==1.6.3
