aiohttp==3.7.4.post0
anyio==3.5.0
async-timeout==3.0.1
attrs==21.4.0
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.12
colorthief==0.2.1
cssselect==1.1.0
discord==1.7.3
discord.py==1.7.3
ffmpeg-python==0.2.0
future==0.18.2
h11==0.12.0
httpcore==0.14.7
httpx==0.22.0
idna==3.3
Kadal==0.2.6
lxml==4.8.0
multidict==6.0.2
picimagesearch==3.1.9
Pillow==9.1.0
py==1.11.0
pyquery==1.4.3
rfc3986==1.5.0
sniffio==1.2.0
typing-extensions==4.1.1
wincertstore==0.2
yarl==1.6.3
